window.thunar grid *:selected,
window.thunar grid *:active {
  color: #89dceb;
  background-color: #202729;
}

window.thunar .sidebar {
  background-color: #111719;
  border: none;
  padding: 1rem; 
}

window.thunar treeview {
  padding: 2px 5px 2px 0px;
  background-color: #131a1c; 
}

window.thunar .frame {
  border: 0px; 
}

window.thunar .standard-view.frame {
  border-style: none;
}

window.thunar toolbar box {
  padding: 5px; 
}

window.thunar toolbar {
  padding: 5px 0; 
}

window.thunar .sidebar .view:hover { 
  background-color: #202729; 
}

window.thunar .sidebar .view:selected {
  border-left: 5px solid #89dceb;
}

window.thunar toolbar > toolitem entry {
    background-color: #111719;
}

window.thunar #location-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Remove left border */
paned > separator {
  min-width: 1px;
  min-height: 1px;
  -gtk-icon-source: none;
  border-style: none;
  background-color: transparent;
  background-image: image(rgba(0, 0, 0, 0));
  background-size: 1px 1px;
  background-clip: content-box;
}

window.thunar statusbar {
  margin: 0 -10px;
  padding: 0 4px;
  border-top: 1px solid rgba(0, 0, 0, 0);
}