* {
    background:                 #131A1C;
    background-alt:             #111719;
    border:                     #111719;
    foreground:                 #d9e0ee;
    foreground-alt:              #0d1416;
    accent:                     #89dceb;

    text-color:                 @fg;
    javacafe-blue:              #bac8ef;
}
