.cal-box {
    background-color: $black2;
    border: 16px $black2 solid;

    .cal-inner-box {
        padding: 1rem 1rem .2rem;
        border: 4px $black1 solid;

        .cal {
            &.highlight {
                padding: 10rem;
            }

            padding: .8rem .25rem 0rem;
            margin-left: 10px;
        }
    }
}

calendar:selected {
    color: $sky;
}

calendar.header {
	color: $mauve;
	font-weight: bold;
}

calendar.button {
	color: $sky;
}

calendar.highlight {
	color: $sky;
	font-weight: bold;
}

calendar:indeterminate {
	color: rgba(205, 219, 249, 0.3);
}