.date {
    background-color: $black3;
    border-radius: 5px;

    .weekday {
        color: $gray3;
        margin-top: 0.3em;
        margin-left: 0.6em;
    }

    .monthday {
        color: $white;
        margin-top: 0.1em;
        margin-left: -1.5rem;
        font-size: 15px;
        font-weight: bold;
    }
}