.system-manager {
    background-color: $black3;
    padding-top: 1rem;
    padding-left: 0.46rem;
    padding-right: 0.46rem;
    .a {
        .title {
            color: $gray3;
            margin-right: -45px;
        }
    }

    scale trough {
        background-color: $black1;
        border-radius: 50px;
    
        min-height: 160px;
        min-width: 5px;
    }

    scale trough highlight {
        border-radius: 50px;
    }

    .ram-bar, .disk-bar, .vol-bar, .bri-bar {
        margin: 12px;
    }

    .ram-bar {
        scale trough highlight {
            background-color: $yellow;
        }
    }

    .disk-bar {
        scale trough highlight {
            background-color: $red
        }
    }

    .vol-bar {
        scale trough highlight {
            background-color: $blue
        }
    }

    .bri-bar {
        scale trough highlight {
            background-color: $green;
        }
    }
}

.radial-main-box {
    background-color: $black3;
    padding: 10px;
    padding-top: 3em;
    padding-bottom: 1em;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .radial-label {
    padding: 30px;
    font-size: 30px;
    background-color: $black3;
  }
  .cpu-radial {
    color: $teal;
    background-color: $black1;
  }
  .title-bat{
      color: $gray3;
      margin-top: -3em;
      margin-left: -3.5em;
  }